header {
    background-color: #8bb8e8;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
  }
  
  .logo img {
    width: 100px;
  }
  
  .nav-link {
    display: flex;
    gap: 60px;
    list-style-type: none;
  }
  
  .nav-link a {
    position: relative;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
  
  .nav-link a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease;
  }
  
  .nav-link a:hover::before {
    width: 100%;
  }
  
  .btn-primary {
    background-color: #0072ce;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 25px;
  }
  
  /* Styles for Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger span {
    height: 3px;
    width: 25px;
    background: white;
    margin-bottom: 4px;
    border-radius: 5px;
  }
  
  

  .nav-link {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-link > li {
    float: left;
    position: relative;
  }

  .nav-link a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .nav-link a:hover {
    background-color: #575757;
  }

  .nav-link ul {
    display: none;
    position: absolute;
    top: 48px;
    left: 0;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
  }

  .nav-link li:hover > ul {
    display: block;
  }

  .nav-link ul li {
    width: 100%;
  }

  .nav-link ul a {
    padding: 10px 20px;
  }

  .nav-link ul a:hover {
    background-color: #575757;
  }

  .nav-link li:hover > a {
    background-color:#729ac4;
  }

  footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center; 
  }
  
  .footer-content {
    display: flex; 
    justify-content: center; 
  }
  
  .footer-content p {
    margin: 0 10px;
  }
  
  @media (max-width: 768px) {
    .navbar {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .nav-link {
      display: none;
      flex-direction: column;
      gap: 20px;
      position: absolute;
      top: 60px;
      right: 20px;
      background: #8bb8e8;
      padding: 20px;
      border-radius: 10px;
    }
  
    .nav-link.active {
      display: flex;
    }
  
    .hamburger {
      display: flex;
    }
  
  }